<div class="card">
    <div class="card-header">
        Lista de productos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filtra por: </div>
            <div class="cal-md-4">
                <input [(ngModel)]="listFilter" type="text" class="form-control" name="filter">
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtro:</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf="products.length">
                <thead>
                    <tr>
                        <th>
                            <button (click)="muestraImagen()" type="button" class="btn btn-primary">{{muestraImg? 'Ocultar ':'Mostrar '}}Imagen</button>
                        </th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Modelo</th>
                        <th>Precio</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | productoFilter:listFilter">
                        <td>
                            <img *ngIf="muestraImg" [src]="product.imageUrl"
                            [title]="product.productName"
                            >
                        </td>
                        <td>{{product.productName|uppercase}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.createDate|date:'dd/MM/yy'}}</td>
                        <td>{{product.price|currency}}</td>
                        <td>{{product.rating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
