<div>
    <!--el ngModel es un controlador entre el html y el typescript-->
    Nombre: <input type="text" [(ngModel)]="nombre" name="nombre"><br>
    Cantidad Compradores (MAX 5): <input type="text" [(ngModel)]="comprador" name="comprador"><br>
    Tarjeta Cinepolis: 
    <!--<select>
        <option value="--" >--</option>
        <option value="si" [(ngModel)]="tarjetaSi" name="tarjetaSi">Si</option>
        <option value="no" [(ngModel)]="tarjetaNo" name="tarjetaNo">No</option>
    </select><br>-->
    <input type="radio" value="si" name="tarjeta" [(ngModel)]="tarjetaSi">Si
    <input type="radio" value="no" name="tarjeta" [(ngModel)]="tarjetaNo">No<br>

    Cantidad Boletos: <input type="text" [(ngModel)]="boletos" name="boletos"><br>

    <button type="button" (click)="procesar()">Procesar</button>

    <h1>Comprador Principal: {{nombre}}</h1>
    <h2>Boletos Comprados: {{boletos}}</h2>
    <h2>Total: {{total}}</h2>
    <h2>{{error}}</h2>
</div>
